@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400;1,500;1,600&display=swap');


:root{
    --color-primary:#d3831a;
    --color-primary-variant: #7d4a07;
    --color-bg-1:#000e17;
    --color-bg-2:#001e2d;
    --color-bg-3:#012734;
    --color-bg-4:#003347;
    --color-light:#85a2b2;
    --color-white:hsl(0, 0%,90%);


    --container-width-lg:88%;
    --container-width-md:92%;

    --transition: all 400ms ease;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border:0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins' sans-serif;
    background: var(--color-bg-3);
    color: var(--color-light);
    line-height: 1.7;

}
h1, h2{
    line-height: 1.1;
    font-weight: 500;
}
h1{
    font-size: 3.8rem;
    color: var(--color-white);
}
h2{
    font-size: 3rem;
}
a{
    color: var(--color-light);
    transition: var(--transition);
}
a:hover{
    color: var(--color-primary);
}
.container{
    width: var(--container-width-lg);
    margin: 0% auto;
    max-width: 2180px;
}
img{
    display: block;
    object-fit: cover;
    width: 100%;
}
/* =====================NAVBAR STYLING============================================*/
nav{
    height: 8rem;
    width: 100vw;
    place-items:center;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99;
    display: grid;
}
.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_toggle-btn{
    display: none;
}
.nav_logo{
    width: 7.5rem;
}
.nav_links{
    display: flex;
    gap: 4rem;
}
.nav_socials{
    gap: 1rem;
    display: flex;
}
.nav_socials a{
    width: 2rem;
    height: 2rem;
    background: linear-gradient(var(--color-primary-variant), var(--color-primary));
    border-radius: 0.5rem;
    color: var(--color-bg-4);
    display: grid;
    place-items: center;
}
.nav_socials a:hover{
    transform:translate(50%);
}